{{ partial "header.html" . }}




{{ range sort .Pages "Params.weight" }}



{{ $image := resources.GetMatch .Params.background_image }}

{{ if $image }}

  {{ $trimmedImagePath := strings.TrimPrefix "/assets/" .Params.background_image }}

  <div class="article-wrap" style="background-image: url('{{ (resources.GetMatch $trimmedImagePath).RelPermalink }}');">
    
    <article class="post-snippet">

      <h3 class="title">
        {{ .Title }}
      </h3>
      <p class="desc">
        {{ .Summary }}
      </p>
      <button class="button">BUTTON</button>
      
    </article>

  </div>

{{ end }}

{{ end }}




{{ partial "footer.html" . }}