{{ partial "header.html" . }}




{{ range sort .Pages "Params.weight" }}



{{ $image := resources.GetMatch .Params.background_image }}
  
  <div class="article-wrap" style="background-image: url('{{ if $image }}{{ ( $image.Resize "600x" ).RelPermalink }}{{ end }}');">

    <article class="post-snippet">

      <h3 class="title">
        {{ .Title }}
      </h3>
      <p class="desc">
        {{ .Summary }}
      </p>
      <button class="button">BUTTON</button>
      
    </article>

  </div>



{{ end }}




{{ partial "footer.html" . }}